$panel-border: #e2e8f0;

.rightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  @media (min-width: 641px) {
    height: 100vh;
    overflow: hidden;
  }
}

.rightPanelTop {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  @media (min-width: 1024px) {
    flex-direction: row;
    overflow: hidden;
  }
}


